:root {
    --btn-bg-color: rgb(211, 211, 211);
    --dailySurvey-container-bg: rgb(190, 190, 190);

    --app-font-fam: nunito;
    --app-font-color: black;
    --app-font-size: 1em;

    --btn-font-fam: nunito;
    --container-font-fam: nunito;
    --radial-color1: rgb(98, 182, 221);
    --radial-color2: rgb(103, 199, 243);

    --txt-color-btn: black;
}


html {
    height: 100vh;
}


/*LAYOUT PAGE*/
#app{
    width: 80%;
    margin: auto;
    font-family: var(--app-font-fam);
    color: var(--app-font-color);
    font-size: var(--app-font-size);

}

body{

    margin: 0;
    background: radial-gradient(circle farthest-side, #d4d4d4, #f7f7f7);
    background-repeat: no-repeat;
}

/*END LAYOUT PAGE*/
/*DAILY SURVEY*/
.daily-survey-container{
    text-align: center;
    width: 80%;
    padding: 2px 15px;
    margin: auto;
    background-color: var(--dailySurvey-container-bg);/* COLOR */
}




/* END DAILY SURVEY*/
/* Hika's stuff*/

.hika-container {
    background-color: lightgrey;
    width: 500px;
    border: 25px solid rgb(0, 128, 128);
    padding: 25px;
    margin: 0px;
}
.hika-input1 {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(223, 9, 9);
    color: white;
}
.hika-input2 {
    width: 12%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(61, 116, 235);
    color: white;
}
h1.hidden {
    display: none;
}

.center-this-div{
    width: 40%;

}



.form-row{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4px;
}
.mood-row{

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
    padding: 5px;
}
.radio-btn-spread{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radio-btn-spread-mood{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
input[type="radio"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(2.5);
    margin: 10px;
}
.div-center{
    margin: auto;
}
/* END DAILY SURVEY*/

/*CLASS PAGE*/
.all-surveys{
    width: 60vw;
    margin: auto;
    background-color: rgb(235, 235, 235); /* COLOR */
    box-shadow: 3px 3px 6px rgb(192, 192, 192);
}

.all-surveys ul{
    list-style-type: none;
}

.class-layout{
    width: 60vw;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.class-layout-row{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4px;
}

.class-layout-left{

    margin-left: 0%;
    background-color: antiquewhite;
}

.class-layout-right{
    display: inline-block;


    background-color: rgb(235, 235, 235); /* COLOR */
    box-shadow: 3px 3px 6px rgb(192, 192, 192);

}

.class-layout-right-inner{
    display: inline-block;
    width: 100%;


}

.page-title{
    text-align: center;
}

.inner-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70vw;
    margin: auto;
    margin-bottom: 5vh;
}


/* END CLASS PAGE*/

/* END LOGIN PAGE*/

.login-page{
    height: 100vh;
    margin: 0;
    background: radial-gradient(#4795a8, #6dd5ed);
    background-repeat: no-repeat;
}
.login-container{
    margin: auto;
    width: 75%;
    max-width: 650px;
    padding: .6em 1.5em .7em 1.5em;
    margin-top: 15%;
    background: radial-gradient(#ffffff, #ebebeb);
    box-shadow: 3px 3px 6px rgb(71, 71, 71);
    font-family: Nunito;
    border-radius: 2px;
    font-size: 1.5em;
}
.login-header{
    font-size: 2em;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: rgb(204, 204, 204) !important;
    color: rgb(61, 61, 61);
}
input:focus{
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: rgb(61, 61, 61) !important;
}
input:-webkit-autofill:focus{
    outline: none;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
}
small{
    color: black;

}
a:link{
    text-decoration: none;

}
label, #forgot-pass{

    vertical-align: middle;
    margin-left: 1em;
}
#remember-me, #forgot-pass{
    margin: 0%;
}

/* END LOGIN PAGE*/

/* NAVBAR*/
    /*See navbar.blade.php under views/inc*/
/* END NAVBAR*/

/* CONTAINERS*/
.container{
    margin: auto;
    width: 20%;
    min-width: fit-content;
    max-width: 650px;
    padding: .6em 1.5em .7em 1.5em;
    margin: 1em;
    background: radial-gradient(var(--radial-color1),var(--radial-color2));
    box-shadow: 2px 2px 4px rgb(71, 71, 71);
    font-family: var(--container-font-fam);
    border-radius: 2px;
    font-size: 1.5em;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: stretch;
    justify-content: center;
}
/* END CONTAINERS*/


.button, input[type="submit" i]{
    background: var(--btn-bg-color);
    box-shadow: 1px 1px 3px rgb(71, 71, 71);
    border-radius: 2px;
    border-width: 0;
    color: var(--txt-color-btn);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: var(--btn-font-fam);
}