:root{
    --color1: #0DFF92;
    --color2: #067F49;
    --color3: #034024;
    --color4: aquamarine;
    --color5: honeydew;
    --color6: #2d2e30;
    --color7: ;
    --color8: ;
}
    /* CSS FOR MOBILE*/
body{
    margin: 0%;
}
.headliner{
    text-align: center;
    font-size: 4em;
    margin: auto;
}
.page-info{
    text-align: center;
    font-size: 1.5em;
}
.container{
    background-color: var(--color4);
    padding: .2%;
    width: 80%;
    margin: auto;
}
.button-row{
    display: flex;
    justify-content: space-between;
    background-color: grey;
}
.button-row button {

    background-color: lightblue;
    margin: .2em auto;
    height: 2em;
    line-height: 2em;
    width: 14em;
    text-align: center;
}
small {
    font-size: .6em;
    font-style: italic;
    text-align: center;
    margin: auto;
}
/*LAYOUT PAGE*/
#app{
    width: 100%;
    margin: auto;
    font-family: 'Nunito', sans-serif;
    color: var(--color6);
}
.vl {
    border-left: 1px solid black;
    height: 100px;
    position: relative;
    margin-left: -1px;
}
.navbar{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 7em;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--color5);
    justify-content: space-between;
    align-items: center;
}
a {
    color: var(--color6);
    text-decoration: none;
}
.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropbtn{
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
}
.nav-left{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-right{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.nav-item{
    height: 30px;
    margin-left: 4vw;
}
/*END LAYOUT PAGE*/
/*START CLASSES/Students/instructors INDEX PAGES*/
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 50%;
    margin: auto;
    list-style: none;
    height: 3em;
    line-height: 2em;
}

.list{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.list-item{
    background-color: lightblue;
    text-align: center;
    padding: .5em;
}
.list-item a{
    background-color: lightcoral;
}


/*END  CLASSES/Students/instructors INDEX PAGES*/
@media only screen and (max-width: 768px){

    .mobile-hide{
        display: none;
    }
}
/* CSS FOR DESKTOP*/
@media only screen and (min-width: 768px){

    /* END CLASS PAGE*/
}